doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='style.css')
  link(href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet")
  
  title Ghosts Boo-sters!
  #app
    #canvas_container
      canvas
    //- #info
    //-   h1
    //-     |Ghosts Boo-sters!
    #gui
      | Found: {{ score }} of {{ GHOSTS_COUNT }}<br>
    #timeout(:class="gameOver ? 'shown' : ''")| {{message}}
    
  script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js')
  script(src='illuminated.js')
  script(src='sketch.js')
